[submodule "forge-parent"]
	path = forge-parent
	url = https://github.com/nbsoft/forge.git
	branch = forge-parent
[submodule "forge-sql"]
	path = forge-sql
	url = https://github.com/nbsoft/forge.git
	branch = forge-sql
[submodule "forge"]
	path = forge
	url = https://github.com/nbsoft/forge.git
	branch = forge
